<li data-sortable-update-url="<%= sort_list_path(list) %>">
  <%= turbo_frame_tag list do %>
    <p>
      <%= list.name %>
    </p>
    <% if list.cards.any? %>
      <ul data-controller="sortable">
        <% list.cards.rank(:row_order).each do |card| %>
          <li data-sortable-update-url="<%= sort_card_path(card) %>">
            <%= render card %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</li>
