<nav id="navbar">
  <div class="subnav">
    <ul class="links">
      <li class="logo nav-link">
        <%= link_to "ProjectTracker", root_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Workspaces", "javascript:void(0)" %>
        <%= icon('fa-solid', 'chevron-down') %>
      </li>
      <li class="nav-link">
        <%= link_to "Recent", "javascript:void(0)" %>
        <%= icon('fa-solid', 'chevron-down') %>
      </li>
      <li class="nav-link">
        <%= link_to "Starred", "javascript:void(0)" %>
        <%= icon('fa-solid', 'chevron-down') %>
      </li>
    </ul>
    <%= link_to "Create", "#", class: "btn-action" %>
  </div>
  <%= image_tag("avatar_placeholder", class: "user") %>
</nav>
